<h1>Dashboard</h1>

<%= @person.name_first %>

<%= link_to "Log Out", destroy_client_session_path, :method => :delete, class: 'uk-button-danger uk-button uk-button-large' %>

<style>
  table.testgrid { border-collapse: collapse; border: 1px solid #CCB; width: 800px; }
  table.testgrid td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
  table.testgrid th { background: #E5E5E5; text-align: left; }
  input.invalid { background: red; color: #FDFDFD; }
</style>

<%= javascript_tag do %>
  window.onload = function() {

    var metadata = [];
    metadata.push({ name: "year", label:"Year", datatype: "string", editable: false});
    metadata.push({ name: "age", label: "Age", datatype: "integer", editable: false});
    metadata.push({ name: "activity", label: "Activity", datatype: "string", editable: true});
    metadata.push({ name: "time_done", label: "Hours", datatype: "integer", editable: true});
    metadata.push({ name: "note", label: "Notes", datatype: "string", editable: true});

    // ["TRAIT"] = {"activity_key":"Label",...};
    metadata[2].values = {};
    metadata[2].values["Athletic"] = {"pfb":"Play Football","pbb":"Play Basketball","uk":"Great-Britain","nl":"Nederland"};
    metadata[2].values["America"] = {"br":"Brazil","ca":"Canada","us":"USA"};
    metadata[2].values["Africa"] = {"ng":"Nigeria","za":"South-Africa","zw":"Zimbabwe"};

    var data = [];
    var ageArr = <%= escape_javascript @ageArr.to_json %>

    for(i = 0; i < ageArr.length; i++) {
      let year = <%= raw @currentYear.to_i %>
      year = year - ageArr.length + i + 1;
      year = year.toString();
      console.log("year", year);
      data.push({id: i, values: {"activity":"","age":i,"name":"Duke","firstname":"Patience","year":year,}});
    }

    editableGrid = new EditableGrid("DemoGridJsData");
    editableGrid.load({"metadata": metadata, "data": data});
    editableGrid.renderGrid("tablecontent", "testgrid");



    FusionCharts.ready(function(){
      var fusioncharts = new FusionCharts({
      type: 'radar',
      renderAt: 'chart-container',
      width: '500',
      height: '350',
      dataFormat: 'json',
      dataSource: {
        "chart": {
        "caption": "Personality Map",
        "subCaption": "Your own personality",
        "numberPreffix": "$",
        "theme": "fint",
        "radarfillcolor": "#ffffff",
        },
        "categories": [{
          "category": [{"label": "Physical"}, {"label": "Expressive"}, {"label": "Creative"},
                      {"label": "Abstract"}, {"label": "Social"}]}],
        "dataset": [{
          "seriesname": "Facets",
            "data": [{
              "value": "10"
            }, {
              "value": "4.8"
            }, {
              "value": "91"
            }, {
              "value": "4.0"
            }, {
              "value": "3.6"
            }]
          }]
        }
      }
    );
    fusioncharts.render();
    });
    }
<% end %>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>
  <%= javascript_tag do %>
  <% end %>

<body>
<div id="tablecontent"></div>
<div id="chart-container">FusionCharts XT will load here!</div>
</body>