<script type="text/javascript" src="https://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="https://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>

<h1>Dashboard</h1>

<%= @person.name_first %>

<%= link_to "Log Out", destroy_client_session_path, :method => :delete, class: 'uk-button-danger uk-button uk-button-large' %>
<%= link_to "Add Event", 'add_event', class: 'uk-button uk-button-small' %>

<%= grid(@person_grid, show_filters: :always,) do |g|

  g.column name: 'Activity Name', attribute: 'activity_id' do |act|
    Activity.where(activity_spec_id: act.activity_id).first.activityname
  end

  g.column name: 'Hours', attribute: 'activity_hours'
  g.column name: 'Note', attribute: 'activity_note'
  g.column name: 'Place', attribute: 'activity_place'
  g.column name: 'Age', attribute: 'activity_when'

  g.column do |task|
    # link_to('Delete', destroy_client_session_path(task))
  end
end -%>


<%= javascript_tag do %>

    FusionCharts.ready(function(){
      var fusioncharts = new FusionCharts({
      type: 'radar',
      renderAt: 'chart-container',
      width: '500',
      height: '350',
      dataFormat: 'json',
      dataSource: {
        "chart": {
        "caption": "Personality Map",
        "subCaption": "Your own personality",
        "numberPreffix": "$",
        "theme": "fint",
        "radarfillcolor": "#ffffff",
        },
        "categories": [{
          "category": [{"label": "Physical"}, {"label": "Social"}, {"label": "Abstract"},
                      {"label": "Creative"}, {"label": "Expressive"}]}],
        "dataset": [{
          "seriesname": "Facets",
            "data": [{
              "value": "<%= raw @person.physical_score.to_s %>"
            }, {
              "value": "<%= raw @person.social_score.to_s %>"
            }, {
              "value": "<%= raw @person.abstract_score.to_s %>"
            }, {
              "value": "<%= raw @person.creative_score.to_s %>"
            }, {
              "value": "<%= raw @person.expressive_score.to_s %>"
            }]
          }]
        }
      }
    );
    fusioncharts.render();
    });

<% end %>

<body>
<div id="chart-container"></div>
</body>