<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :activity_id, collection: @activityIDs %>
    <%= f.input :activity_hours, :input_html => {:value => 0}%>
    <div onclick="return mathHelp()" class="uk-button uk-button-danger uk-button-small">Week to Year</div>
    <%= f.input :activity_note %>
    <%= f.input :activity_place %>
    <%= f.input :activity_when %>
    <%= f.input :person_id, :as => :hidden, :input_html => { :value => @person.client_id } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= javascript_tag do %>
    function mathHelp() {
      var hoursPerWeek = prompt("How many hours per week?", "0");
      var hours = 0;
      var totalHours = 0;
      hours = parseFloat(hoursPerWeek);
      if(hours != null) {
        totalHours = hours * 52;
      }
      document.getElementById("event_activity_hours").value = totalHours;
    return;
    }

<% end %>
