<script type="text/javascript" src="https://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="https://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>

<h1>Visualize Your Life</h1>
<%= link_to "Back", dashboard_index_path, class: 'uk-button uk-button-small' %>
<%= link_to "Report", report_index_path, class: 'uk-button uk-button-small' %>

<body>
<p>Which year would you like to see your map for?</p>
<%= collection_select(:event, :activity_when, @events, :activity_when, :activity_when, {:prompt => true}) %>
<div id="chart-container"></div>

<%= javascript_tag do %>

    FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'radar',
    renderAt: 'chart-container',
    width: '500',
    height: '350',
    dataFormat: 'json',
    dataSource: {
    "chart": {
    "caption": "Personality Map",
    "subCaption": "Your own personality",
    "numberPreffix": "$",
    "theme": "fint",
    "radarfillcolor": "#ffffff",
    },
    "categories": [{
    "category": [{"label": "Physical"}, {"label": "Social"}, {"label": "Abstract"},
    {"label": "Creative"}, {"label": "Expressive"}]}],
    "dataset": [{
    "seriesname": "Facets",
    "data": [{
    "value": "<%= raw @person.physical_score.to_s %>"
    }, {
    "value": "<%= raw @person.social_score.to_s %>"
    }, {
    "value": "<%= raw @person.abstract_score.to_s %>"
    }, {
    "value": "<%= raw @person.creative_score.to_s %>"
    }, {
    "value": "<%= raw @person.expressive_score.to_s %>"
    }]
    }]
    }
    }
    );
    fusioncharts.render();
    });
<% end %>

