<!DOCTYPE html>
<html>
<head>
  <title>FullFill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'uikit' %>
  <%= stylesheet_link_tag 'editablegrid' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'editablegrid' %>
  <%= javascript_include_tag 'editablegrid_charts' %>
  <%= javascript_include_tag 'editablegrid_charts_ofc' %>
  <%= javascript_include_tag 'editablegrid_editors' %>
  <%= javascript_include_tag 'editablegrid_renderers' %>
  <%= javascript_include_tag 'editablegrid_utils' %>
  <%= javascript_include_tag 'editablegrid_validators' %>
  <%= javascript_include_tag 'g.radar' %>
  <%= javascript_include_tag 'g.radar.min' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
